<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.tu_bs.de/cs/isf/cbc/textual/jdl/JdlDsl"
			class = "de.tu_bs.cs.isf.cbc.textual.jdl.jdlDsl.JdlDslPackage"
			genModel = "model/generated/JdlDsl.genmodel" />
	</extension>
</plugin>
